In [1]:
import pandas as pd
train_data = pd.read_parquet(r"Data\UNSW_NB15_training-set.parquet", engine="pyarrow")
test_data = pd.read_parquet(r"Data\UNSW_NB15_testing-set.parquet", engine="pyarrow")

print(f"Training data shape: {train_data.shape}")
print(f"Testing data shape: {test_data.shape}")

Training data shape: (175341, 36)
Testing data shape: (82332, 36)

In [2]:
#print the first five rows
train_data.head()

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sload,...,trans_depth,response_body_len,ct_src_dport_ltm,ct_dst_sport_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,is_sm_ips_ports,attack_cat,label
0,0.121478,tcp,-,FIN,6,4,258,172,74.087486,14158.942383,...,0,0,1,1,0,0,0,0,Normal,0
1,0.649902,tcp,-,FIN,14,38,734,42014,78.473373,8395.112305,...,0,0,1,1,0,0,0,0,Normal,0
2,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,1572.271851,...,0,0,1,1,0,0,0,0,Normal,0
3,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,2740.178955,...,0,0,1,1,1,1,0,0,Normal,0
4,0.449454,tcp,-,FIN,10,6,534,268,33.373825,8561.499023,...,0,0,2,1,0,0,0,0,Normal,0

In [5]:
#general information about our dataset
print(f"data described :{train_data.describe()}")
print(f"data information : {train_data.info()}")

data described :                 dur          spkts          dpkts        sbytes  \
count  175341.000000  175341.000000  175341.000000  1.753410e+05
mean        1.359389      20.298664      18.969591  8.844844e+03
std         6.480249     136.887597     110.258271  1.747656e+05
min         0.000000       1.000000       0.000000  2.800000e+01
25%         0.000008       2.000000       0.000000  1.140000e+02
50%         0.001582       2.000000       2.000000  4.300000e+02
75%         0.668069      12.000000      10.000000  1.418000e+03
max        59.999989    9616.000000   10974.000000  1.296523e+07

             dbytes            rate         sload         dload  \
count  1.753410e+05   175341.000000  1.753410e+05  1.753410e+05
mean   1.492892e+04    95406.179688  7.345403e+07  6.712055e+05
std    1.436542e+05   165400.968750  1.883574e+08  2.421312e+06
min    0.000000e+00        0.000000  0.000000e+00  0.000000e+00
25%    0.000000e+00       32.786140  1.305334e+04  0.000000e+00
50%    1.640000e+02     3225.806641  8.796748e+05  1.447023e+03
75%    1.102000e+03   125000.000000  8.888889e+07  2.784487e+04
max    1.465555e+07  1000000.000000  5.988000e+09  2.242273e+07

               sloss          dloss  ...          dmean    trans_depth  \
count  175341.000000  175341.000000  ...  175341.000000  175341.000000
mean        4.953000       6.948010  ...     124.173382       0.105982
std        66.005059      52.732999  ...     258.317056       0.776911
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.000000       0.000000  ...       0.000000       0.000000
50%         0.000000       0.000000  ...      44.000000       0.000000
75%         3.000000       2.000000  ...      89.000000       0.000000
max      4803.000000    5484.000000  ...    1458.000000     172.000000

       response_body_len  ct_src_dport_ltm  ct_dst_sport_ltm   is_ftp_login  \
count       1.753410e+05     175341.000000     175341.000000  175341.000000
mean        2.144292e+03          5.383538          4.206255       0.014948
std         5.420797e+04          8.047104          5.783585       0.126048
min         0.000000e+00          1.000000          1.000000       0.000000
25%         0.000000e+00          1.000000          1.000000       0.000000
50%         0.000000e+00          1.000000          1.000000       0.000000
75%         0.000000e+00          5.000000          3.000000       0.000000
max         6.558056e+06         51.000000         46.000000       4.000000

          ct_ftp_cmd  ct_flw_http_mthd  is_sm_ips_ports          label
count  175341.000000     175341.000000    175341.000000  175341.000000
mean        0.014948          0.133066         0.015752       0.680622
std         0.126048          0.701208         0.124516       0.466237
min         0.000000          0.000000         0.000000       0.000000
25%         0.000000          0.000000         0.000000       0.000000
50%         0.000000          0.000000         0.000000       1.000000
75%         0.000000          0.000000         0.000000       1.000000
max         4.000000         30.000000         1.000000       1.000000

[8 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175341 entries, 0 to 175340
Data columns (total 36 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dur                175341 non-null  float32
 1   proto              175341 non-null  category
 2   service            175341 non-null  category
 3   state              175341 non-null  category
 4   spkts              175341 non-null  int16
 5   dpkts              175341 non-null  int16
 6   sbytes             175341 non-null  int32
 7   dbytes             175341 non-null  int32
 8   rate               175341 non-null  float32
 9   sload              175341 non-null  float32
 10  dload              175341 non-null  float32
 11  sloss              175341 non-null  int16
 12  dloss              175341 non-null  int16
 13  sinpkt             175341 non-null  float32
 14  dinpkt             175341 non-null  float32
 15  sjit               175341 non-null  float32
 16  djit               175341 non-null  float32
 17  swin               175341 non-null  int16
 18  stcpb              175341 non-null  int64
 19  dtcpb              175341 non-null  int64
 20  dwin               175341 non-null  int16
 21  tcprtt             175341 non-null  float32
 22  synack             175341 non-null  float32
 23  ackdat             175341 non-null  float32
 24  smean              175341 non-null  int16
 25  dmean              175341 non-null  int16
 26  trans_depth        175341 non-null  int16
 27  response_body_len  175341 non-null  int32
 28  ct_src_dport_ltm   175341 non-null  int8
 29  ct_dst_sport_ltm   175341 non-null  int8
 30  is_ftp_login       175341 non-null  int8
 31  ct_ftp_cmd         175341 non-null  int8
 32  ct_flw_http_mthd   175341 non-null  int8
 33  is_sm_ips_ports    175341 non-null  int8
 34  attack_cat         175341 non-null  category
 35  label              175341 non-null  int8
dtypes: category(4), float32(11), int16(9), int32(3), int64(2), int8(7)
memory usage: 17.1 MB
data information : None